* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn{
  display: flex;
  flex-direction: column;
  padding: 0 25%;
  
}

#btn-choose{
  background-color: aqua;
  border: 2px solid green;
  cursor: pointer;
}
#btn-clear{
  background-color: rgb(253, 137, 143);
  border: 2px solid red;
  cursor: pointer;
}
.heading{
  text-align: center;
  margin-top: 10px;
}
.cart-heading{
  text-align: center;
  color: brown;
}
.box{
  display: flex;
  margin-left: 30px;
}
.card-container {
  margin: 50px 0;
  width: 80%;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.cart-container{
  width: 15%;
  margin: 50px 10px;
  align-content: right;
  background-color: antiquewhite;
}
.cart-warning {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
